include _config.pug

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title About me 私について 关于我 - #{siteName}
    include _icon.pug
    link(rel="stylesheet", href=cssUrl+"bootstrap.custom.min.css")
    link(rel="stylesheet", href=cssUrl+"common.css")
    link(rel="stylesheet", href=cssUrl+"about.css")
    script(src=jsUrl+"common.js")
  body
    include _pageHeader.pug
    h1
      span.en(lang="en") About me
      span.ja(lang="ja") 私について
      span.cn(lang="zh-cn") 关于我
    p
      span.en(lang="en")
        span.fw-bold Types of companies:
        |  Self-employment
        br
        span.fw-bold Business name:
        |  EU-Create
        br
        span.fw-bold Representative name:
        |  Eiichi Uchibori
        br
        span.fw-bold Services:
        |  Web Designer, Web Programmer, Digital Artist (Music)
      span.ja(lang="ja")
        span.fw-bold 企業の種類：
        | 自営業
        br
        span.fw-bold 屋号：
        | EU-Create（イーユー・クリエイト）
        br
        span.fw-bold 代表者名：
        | 内堀 英一
        br
        span.fw-bold 事業内容：
        | Webデザイナー、Webプログラマー、デジタルアーティスト
      span.cn(lang="zh-cn")
        span.fw-bold 公司类型：
        | 自营职业
        br
        span.fw-bold 企业名称：
        | 亿优创造
        br
        span.fw-bold 代表人姓名：
        | 内堀 荣一
        br
        span.fw-bold 服务：
        | 网页设计师、网页程序员、IT工程师、数字艺术家（音乐）
    p
      span.en(lang="en")
        | Visit my 
        a(href="https://www.eucreate.net/", target="_blank") website
        |  for details.
      span.ja(lang="ja")
        | 詳細は私の
        a(href="https://www.eu-create.net/", target="_blank") ウェブサイト
        | をご覧ください。
      span.cn(lang="zh-cn")
        | 请访问我的
        a(href="https://cn.eucreate.net/", target="_blank") 网站
        | 了解详情。
    include _pageFooter