include _config.pug

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title Convert Units（単位変換） - #{siteName}
    include _icon.pug
    link(rel="stylesheet", href=cssUrl+"common.css")
    link(rel="stylesheet", href=cssUrl+"convert-units.css")
    script(src=jsUrl+"common.js")
    script(src=jsUrl+"convert-units.js")
  body
    include _pageHeader.pug
    h1
      span.en(lang="en") Convert Units
      span.ja(lang="ja") 単位変換
    p
      span.en(lang="en")
        | Enter the value of the standard unit you want to calculate.
        br
        | Click or tap the button of the unit to be converted and calculate.
      span.ja(lang="ja")
        | 計算したい基準となる単位の値を入力します。
        br
        | 変換する単位のボタンを押して計算します。
    h2
      span.en(lang="en") Temperature
      span.ja(lang="ja") 温度
    input#celsius(type="number" step="0.01" value="0")
    | &nbsp;℃
    br
    input#fahrenheit(type="number" step="0.01" value="0")
    | &nbsp;℉
    div
      input#changeFahrenheit(type="button" value="℃ → ℉")
      input#changeCelsius(type="button" value="℉ → ℃")
    h2
      span.en(lang="en") Length
      span.ja(lang="ja") 長さ
    input#centimeters(type="number" value="0")
    | &nbsp;cm
    br
    input#inch(type="number" value="0")
    | &nbsp;inch&nbsp;
    input#feet(type="number" value="0")
    | &nbsp;feet
    div
      input#changeInch(type="button" value="cm → inch, feet")
      input#changeCentimeters(type="button" value="inch → cm, feet")
      input#changeFeet(type="button" value="feet → cm, inch")
    h3
      span.en(lang="en") Conversion of meters, yards and feet
      span.ja(lang="ja") mとヤードとフィートの変換
    input#meter(type="number" value="0")
    | &nbsp;m
    br
    input#yard(type="number" value="0")
    | &nbsp;yard&nbsp;
    input#feet2(type="number" value="0")
    | &nbsp;feet
    div
      input#changeYard(type="button" value="m → yard, feet")
      input#changeMeter(type="button" value="yard → m, feet")
      input#ChangeFeet2(type="button" value="feet → m, yard")
    h3
      span.en(lang="en") Conversion of meters and miles
      span.ja(lang="ja") kmとマイルの変換
    input#kilometer(type="number" value="0")
    | &nbsp;km
    br
    input#mile(type="number" value="0")
    | &nbsp;mile
    div
      input#changeMile(type="button" value="km → mile")
      input#changeKilometer(type="button" value="mile → km")
    h2
      span.en(lang="en") Weight
      span.ja(lang="ja") 重量
    input#kg(type="number" value="0")
    | &nbsp;kg
    br
    input#pound(type="number" value="0")
    | &nbsp;pound
    div
      input#changePound(type="button" value="kg → lb")
      input#changeKg(type="button" value="lb → kg")
    h2
      span.en(lang="en") Volume
      span.ja(lang="ja") 体積
    input#liters(type="number" value="0")
    | &nbsp;L
    br
    input#USGallons(type="number" value="0")
    | &nbsp;US Gallons&nbsp;
    input#UKGallons(type="number" value="0")
    | &nbsp;UK Gallons
    div
      input#changeGallons(type="button" value="L → gal")
      input#changeLiters(type="button" value="gal(US) → L, gal(UK)")
      input#changeLitersUSG(type="button" value="gal(UK) → L, gal(US)")
    h2
      span.en(lang="en") Speed
      span.ja(lang="ja") 速度
    input#mps(type="number" value="0")
    | &nbsp;m/s
    br
    input#kmph(type="number" value="0")
    | &nbsp;kmph
    div
      input#changeKmph(type="button" value="m/s → kmph")
      input#changeMps(type="button" value="kmph → m/s")
    include _pageFooter