include _config.pug

doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title Website Calculation Tool ウェブサイト計算ツール 网站的计算工具 - #{siteName}
    include _icon.pug
    link(rel="stylesheet", href=cssUrl+"bootstrap.custom.min.css")
    link(rel="stylesheet", href=cssUrl+"common.css")
    link(rel="stylesheet", href=cssUrl+"web-calc.css")
    script(src=jsUrl+"common.js")
    script(src=jsUrl+"web-calc.js")
  body
    include _pageHeader.pug
    h1
      span.en(lang="en") Website Calculation Tool
      span.ja(lang="ja") ウェブサイト計算ツール
      span.cn(lang="zh-cn") 网站的计算工具
    p
      span.en(lang="en") A calculation tool useful for web design and website creation.
      span.ja(lang="ja") ウェブデザインやwebサイト制作に役立つ計算ツールです。
      span.cn(lang="zh-cn") 一个用于网页设计和网站开发的计算工具。
    p.mb-0.alert.alert-info.d-flex
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-circle flex-shrink-0 mt-1 me-1" viewBox="0 0 16 16">
        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533L8.93 6.588zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0z"/>
      </svg>
      span.en(lang="en")
        | The metallic means and aspect ratio is calculated based on the input value entered in "Standard pixel".
        br
        | Calculation of "%, vw, vh, em, rem" is to input "Standard Pixel" and "Wanted Pixel".
      span.ja(lang="ja") 貴金属比やアスペクト比は入力値が「基準ピクセル」に入力した値で計算されます。
        br
        | 「%, vw, vh, em, rem」の計算は、基準ピクセルと求めるピクセルを入力することで計算されます。
      span.cn(lang="zh-cn") 金属手段和长宽比是根据 "标准像素 "中输入的数值计算的。
        br
        | 计算"%, vw, vh, em, rem "是要输入 "标准像素 "和 "想要的像素"。
    .container 
      #numericInput
        h2
          span.en(lang="en") Numeric input
          span.ja(lang="ja") 数値入力
          span.cn(lang="zh-cn") 数值输入
        div
          label.form-label(for="num1")
            span.en(lang="en") Standard pixel
            span.ja(lang="ja") 基準ピクセル
            span.cn(lang="zh-cn") 标准像素
          input#num1(type="number" step="0.001" value="0").form-control
        div
          label.form-label(for="num2")
            span.en(lang="en") Wanted Pixel
            span.ja(lang="ja") 求めるピクセル
            span.cn(lang="zh-cn") 想要的像素
          input#num2(type="number" step="0.001" value="0").form-control
      #calculationResult
        h2
          span.en(lang="en") Calculation result
          span.ja(lang="ja") 計算結果
          span.cn(lang="zh-cn") 计算结果
        p.input-group
          input#result1(type="text" value="0" readonly="readonly").form-control
          span.input-group-text %, vw, vh
        p.input-group
          input#result2(type="text" value="0" readonly="readonly").form-control
          span.input-group-text em, rem
    h2
      span.en(lang="en") Width and height calculation results
      span.ja(lang="ja") 幅と高さの計算結果
      span.cn(lang="zh-cn") 宽和高的计算结果
    select#changeWidthHeight.me-2
      option(value="w", selected="") Calculated Width
      option(value="h") Calculated Height
    span#inputNum1
    p.mb-0
      img.en(src="img/image_size_en.png")
      img.ja(src="img/image_size_ja.png")
      img.cn(src="img/image_size_cn.png")
    .container 
      #metallicMeansResult
        h3
          span.en(lang="en") Metallic means
          span.ja(lang="ja") 貴金属比
          span.cn(lang="zh-cn") 貴金屬比例
        p.input-group
          span.input-group-text
            span.en(lang="en") Golden ratio
            span.ja(lang="ja") 黄金比
            span.cn(lang="zh-cn") 黄金比例
          input#goldenRatio(type="text" value="0" readonly="readonly", size="10").form-control
          span.input-group-text px
        p.input-group
          span.input-group-text
            span.en(lang="en") Silver ratio
            span.ja(lang="ja") 白銀比
            span.cn(lang="zh-cn") 白銀比例
          input#silverRatio(type="text" value="0" readonly="readonly", size="10").form-control
          span.input-group-text px
        p.input-group.mb-0
          span.input-group-text
            span.en(lang="en") Bronze ratio
            span.ja(lang="ja") 青銅比
            span.cn(lang="zh-cn") 青铜比率
          input#bronzeRatio(type="text" value="0" readonly="readonly", size="10").form-control
          span.input-group-text px
      #aspectRatioResult
        h3
          span.en(lang="en") Aspect ratio
          span.ja(lang="ja") アスペクト比
          span.cn(lang="zh-cn") 纵横比
        p.input-group
          span.input-group-text 4:3
          input#sdRatio(type="text" value="0" readonly="readonly", size="10").form-control
          span.input-group-text px
        p.input-group
          span.input-group-text 3:2
          input#threeToTwoRatio(type="text" value="0" readonly="readonly", size="10").form-control
          span.input-group-text px
        p.input-group
          span.input-group-text
            span.en(lang="en") L size
            span.ja(lang="ja") L判
            span.cn(lang="zh-cn") L尺寸
          input#lSizeRatio(type="text" value="0" readonly="readonly", size="10").form-control
          span.input-group-text px
        p.input-group
          span.input-group-text 16:9
          input#hdRatio(type="text" value="0" readonly="readonly", size="10").form-control
          span.input-group-text px
        p.input-group
          span.input-group-text 16:10
          input#sixteenToTenRatio(type="text" value="0" readonly="readonly", size="10").form-control
          span.input-group-text px
        p.input-group
          span.input-group-text 21:9
          input#twentyOneByNineRatio(type="text" value="0" readonly="readonly", size="10").form-control
          span.input-group-text px
        div
          span.en(lang="en")
            | OGP image
            p.alert.alert-info.mt-0 * Please produce with a width of 1200px and a height of 630px or more.
          span.ja(lang="ja")
            | OGPイメージ
            p.alert.alert-info.mt-0 ※幅1200px、高さ630px以上で制作してください。
          span.cn(lang="zh-cn")
            | OGP图像
            p.alert.alert-info.mt-0 * 请以1200px的宽度和630px以上的高度制作。
          .input-group
            input#ogpImageRatio(type="text" value="0" readonly="readonly", size="10").form-control
            span.input-group-text px
    include _pageFooter